.userCard {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    max-width: 300px;
    margin: 20px 30px;
    height: fit-content;
  }
  
  .image {
    border-radius: 10px;
    width: 100%;
    max-height: 220px;
  }
  
  .rate {
    text-align: right;
    padding-right: 20px;
  }
  