.profileContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.profileContainer button {
    border: 0;
    cursor: pointer;
    color: #ffffff;
}

.backBtn {
    background-color: #545B9E;
    padding: 10px 15px;
    border-radius: 0.5rem;
    font-size: 1rem;
    margin-top: 1rem;
}

.profileContainer img {
    display: block;
    max-width: 100%;
}

.profileDetailsContainer {
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 1rem;
    max-width: 350px;
    min-width: 250px;
    width: 1000%;
    margin: 1rem 0;
}

.profileDetailsContainer h2 {
    margin: 0;
    gap: 0.5rem;
    margin-top: .5rem;
}

.profileDetailsContainer p {
    margin: 0;
    padding: 0;
    color: #858383;
    line-height: 1.5;
}

.profileDetailsContainer button {
    background-color: #545B9E;
    border-radius: .5rem;
    padding: 10px 15px;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: .5rem;
    margin-left: .5rem;
}