.chatArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  height: 100%;
  max-height: calc(100vh - 2rem);
}

.chatHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  background-color: #f0f0f0;
  border-radius: 0.5rem 0.5rem 0 0;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.name {
  font-weight: bold;
}

.messagesWrapper {
  flex: 1;
  overflow-y: auto;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.message {
  display: flex;
  gap: 1rem;
  max-width: 80%;
}

.message.tutor {
  align-self: flex-end;
  flex-direction: row-reverse;
}

.messageContent {
  background-color: #f0f0f0;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.tutor .messageContent {
  background-color: #545B9E;
  color: white;
}

.inputArea {
  padding: 1rem;
  border-top: 1px solid #ccc;
  display: flex;
  gap: 0.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
}

.input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  outline: none;
}

.sendButton {
  padding: 0.5rem 1rem;
  background-color: #545B9E;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.sendButton:hover {
  background-color: #3a3f6d;
}
