.tutorProfileContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    width: 100%;
}

.tutorProfileContainer h3 {
    margin: 0;
}

.tutorProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.actionButtons {
    display: flex;
    flex-direction: row; /* Align items in a row (same line) */
    align-items: center; /* Vertically center the items */
    justify-content: center; /* Horizontally center the items */
    gap: 1rem; /* Space between buttons */
    text-align: center; /* Centers text inside the buttons */
}

.contactSection{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ratingContainer {
    text-align: center;
}

.ratingContainer {
    margin: 1rem 0rem;
    font-size: 2rem;
}

.rating {
    color: #6DB467;
}

.hourlyRate {
    font-size: 2rem;
    text-align: center;
    margin: 1rem 0rem;
}

.starContainer{
    display: flex;
    justify-content: center;
}
  
.star {
    color: #FFD700;
}

.tutorProfileContainer input {
    all: onset; /* Reset input to look like plain text */
    font-size: 1.5rem; /* Match the font size of <h2> */
    font-weight: bold; /* Optional: Adjust based on your <h2> styles */
    width: 100%; /* Ensure the input spans the same width */
    /* border-bottom: 2px solid #ccc; Optional: Add a subtle underline for clarity */
    margin-bottom: 0.5rem; /* Match spacing */
}

.profileDetailsContainer input {
    all: inset; /* Reset input to look like plain text */
    font-size: 1rem; /* Match the font size of <p> */
    line-height: 1.5; /* Match line height */
    color: inherit; /* Inherit text color from parent */
    width: 100%; /* Full width */
    /* border-bottom: 1px solid #ccc; Subtle underline */
    margin-bottom: 0.5rem; /* Match spacing */
}